/* ---------------- */
/* Reset */
html{
  font-size: 62.5%; /* now 1rem = 10px*/
  box-sizing: border-box;
}
body{
  /* Liste von Schriftarten mit Kommatar separaiert, Anführungszeichen für Schriften mit
  Leerzeichen im Namen */
  font-family: 'Open Sans', 'Helevtica Neue', Arial, sans-serif;
  margin: 0;
}
*, *:before, *:after{
  box-sizing: inherit;
}

/* ---------------- */
/* header */
.header{
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.9); /* 255,255,255,0.9 */
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.25); /* x y blur spread */
}
.navigation{
  list-style: none;
  float: left;
  margin: 0;
  height: 100%;
}
.navi-item{
  font-size: 1.6rem;
  line-height: 100%;
  float: left;
  margin: 0 5px 0 5px; /* abstand außen am element oben rechts unten links*/
  height: 100%;
  text-transform: uppercase;
}
.navi-item-link{
  display: block;
  padding: 1.7rem 1rem; /* abstand im element 1. Wert = Oben und unten, 2. rechts und links*/
  width: 100%;
  height: 100%;
  text-decoration: none;
}
/* ---------------- */
/* content */
.content{
  margin-top: 5rem;
  padding: 2rem;
  font-size: 2rem;
}
